<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle ng-click="$ctrl.selectElement(node)">
        {{$ctrl.getLabel(node)}}
        <span class="glyphicon glyphicon-trash pull-right"
                ng-click="remove(this); $ctrl.deleteElement(this)"
                ng-hide="$ctrl.isRoot(node)"></span>
    </div>

    <!-- <ol ui-tree-nodes="" ng-model="node.uitreeNodes[key]" ng-repeat="(key, value) in node.draggables">
        <li ng-repeat="node in $ctrl.getChildren(node,key)" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol> -->

    <ol ui-tree-nodes="" ng-model="tempArr" data-nodrop-enabled="true" ng-init="tempArr=[]">
          <li ui-tree-node ng-repeat="(key,value) in node.draggables" style="min-height:50px;border: none">
          <div class="well well-sm" style="font-style: bold" ng-show="$ctrl.isVisible">
            {{key}}
          </div>
            <ol ui-tree-nodes="" ng-model="node.uitreeNodes[key]"><br/>
              <li ng-repeat="node in $ctrl.getChildren(node,key)" ui-tree-node ng-include="'nodes_renderer.html'" >
                 </br>
              </li><br/>
            </ol>
          </li>
    </ol>

</script>

<div layout="row" layout-padding ng-if="$ctrl.treelist!='error'">
    <div flex></div>
    <div><button class="btn-info" ng-click="$ctrl.exportJSON()"><b>Export JSON</b></button></div>
    <div><button class="btn-info" ng-click="$ctrl.showHint()"><b>Show/Hide Hint</b></button></div>
</div>

<div ng-if="$ctrl.treelist=='error'">
    <b>Invalid Schema</b>
</div>

<div class="row" layout-padding ng-if="$ctrl.treelist!='error'">
    <div ui-tree="$ctrl.mastertreeOptions" data-drag-delay="300" style="height:600px;">
        <ol ui-tree-nodes="" ng-model="$ctrl.treelist" data-nodrop-enabled="true" id="tree-root">
            <li ng-repeat="node in $ctrl.treelist" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </div>
</div>

<hr/>

<!-- <div ng-if="$ctrl.treelist!='error'">
    <div class="col-sm-8">
        <b>LIVE DROP LOG:</b> <br/>
        <li ng-repeat="log in $ctrl.droplog | orderBy:'-' | limitTo:10">
            {{log.string}}
        </li>
    </div>
    <div class="col-sm-4" ng-show="$ctrl.showHintTree">
        <b>HINT TREE:</b> <br/>
        <div ui-tree>
            <ol ui-tree-nodes="" ng-model="$ctrl.hinttree">
                <li ng-repeat="item in $ctrl.hinttree" ui-tree-node>
                    <div ui-tree-handle>
                        {{item.title}}
                    </div>
                    <ol ui-tree-nodes="" ng-model="item.nodes">
                        <li ng-repeat="subItem in item.nodes" ui-tree-node>
                            <div ui-tree-handle>
                                {{subItem}}
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div> -->