<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle ng-click="$ctrl.selectElement(node)">
        {{$ctrl.getLabel(node)}}
        <span class="glyphicon glyphicon-trash pull-right"
                ng-click="remove(this); $ctrl.deleteElement(this)"
                ng-hide="$ctrl.isRoot(node)"></span>
    </div>

    <ol ui-tree-nodes="" ng-model="tempArr" data-nodrop-enabled="true" ng-init="tempArr=[]"><br/>
          <li  ui-tree-node ng-repeat="(key,value) in node.draggables">
          <div id="showBorder" class="well well-sm hint" ng-show="$ctrl.isVisible">
            {{$ctrl.getHintKey(key)}}
          </div>
            <ol ui-tree-nodes="" ng-model="node.uitreeNodes[key]">
              <li ng-repeat="node in $ctrl.getChildren(node,key)" ui-tree-node ng-include="'nodes_renderer.html'" >
                 <br/>
              </li>
            </ol>
          </li>
    </ol>

</script>

<div layout="row" layout-padding ng-if="$ctrl.treelist!='error'">
    <div flex></div>
    <div><button class="btn-info" ng-click="$ctrl.exportJSON()"><b>Export JSON</b></button></div>
    <div><button class="btn-info" ng-click="$ctrl.toggleHint()"><b>Show/Hide Hint</b></button></div>
</div>

<div ng-if="$ctrl.treelist=='error'">
    <b>Invalid Schema</b>
</div>

<div class="row" layout-padding ng-if="$ctrl.treelist!='error'">
    <div ui-tree="$ctrl.mastertreeOptions" data-drag-delay="300" style="height:600px;">
        <ol ui-tree-nodes="" ng-model="$ctrl.treelist" data-nodrop-enabled="true" id="tree-root">
            <li ng-repeat="node in $ctrl.treelist" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </div>
</div>

<hr/>