<div class="column">

    <div>
        <h3>Tree Master Detail</h3>
    </div>

    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle>
            {{node.key}}
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                {{node}}
            </li>
        </ol>
    </script>
    <div ui-tree="$ctrl.mastertreeOptions">
        <ol ui-tree-nodes="" ng-model="$ctrl.treelist" data-nodrop-enabled="true" id="tree-root">
            <li ng-repeat="node in $ctrl.treelist" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>

</div>