<div class="column">
    <div>
        <h3>Instance</h3>
    </div>
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle ng-click="$ctrl.selectElement(node)">
            {{$ctrl.getLabel(node)}}
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                {{node}}
            </li>
        </ol>
    </script>
    <div ui-tree="$ctrl.mastertreeOptions" data-drag-delay="300">
        <ol ui-tree-nodes="" ng-model="$ctrl.treelist" data-nodrop-enabled="true" id="tree-root">
            <li ng-repeat="node in $ctrl.treelist" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>

</div>